version: '3.8'

# Main DWH
services:
  # ShopZada
  postgres-db:
    image: postgres:14-alpine
    container_name: shopzada-postgres
    restart: always
    environment:
      - POSTGRES_USER=shopzada_admin
      - POSTGRES_PASSWORD=bo_is_dabest
      - POSTGRES_DB=shopzada_dwh
    ports:
      - "5555:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "shopzada_admin"]
      interval: 10s
      retries: 5
      start_period: 5s
  
  # 2. Airflow Metadata DB
  postgres-airflow:
    image: postgres:13
    container_name: airflow-postgres
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    volumes:
      - airflow-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s

  # 3. Initialize Airflow
  airflow-init:
    build: .
    container_name: airflow-init
    entrypoint: /bin/bash
    command:
      - -c
      - |
        # Create default admin user
        airflow db migrate && \
        airflow users create \
          --username admin \
          --firstname Admin \
          --lastname User \
          --role Admin \
          --email admin@example.com \
          --password admin
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres-airflow/airflow
    depends_on:
      postgres-airflow:
        condition: service_healthy
    user: "${AIRFLOW_UID:-50000}:0"

  # 4. Airflow UI localhost
  airflow-webserver:
    build: .
    container_name: airflow-webserver
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      postgres-airflow:
        condition: service_healthy
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres-airflow/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    ports:
      - "8888:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./sql:/opt/airflow/sql
      - ./data:/opt/airflow/data
      - airflow-logs:/opt/airflow/logs
    user: "${AIRFLOW_UID:-50000}:0"
    command: webserver

  # 5. Airflow Scheduler
  airflow-scheduler:
    build: .
    container_name: airflow-scheduler
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      postgres-airflow:
        condition: service_healthy
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres-airflow/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./sql:/opt/airflow/sql
      - ./data:/opt/airflow/data
      - airflow-logs:/opt/airflow/logs
    user: "${AIRFLOW_UID:-50000}:0"
    command: scheduler

volumes:
  postgres-data:
  airflow-db-data:
  airflow-logs: